workflows/feedback-classification.json
{
  "name": "Feedback Classification Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "feedback-webhook",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -448,
        112
      ],
      "webhookId": "feedback-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a strict system. Analyze the feedback description. If it contains words like 'error', 'broken', 'crash', 'urgent', or 'fail', classify it as category 'Bug' and priority 'High'. Otherwise, classify as 'General' and 'Low'. Output ONLY a valid JSON object with keys: 'category' and 'priority'.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Feedback Description: {{ $('Webhook').item.json.body.record.description }}\"\n    }\n  ],\n  \"temperature\": 0.1,\n  \"stream\": false,\n  \"response_format\": { \"type\": \"json_object\" }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -240,
        112
      ],
      "id": "ai-classifier",
      "name": "AI Classifier",
      "credentials": {
        "httpBearerAuth": {
          "id": "GROQ_CREDENTIAL_ID",
          "name": "Groq API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/feedback?id=eq.{{ $('Webhook').item.json.body.record.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "category",
              "value": "={{ JSON.parse($json.choices[0].message.content).category }}"
            },
            {
              "name": "priority",
              "value": "={{ JSON.parse($json.choices[0].message.content).priority }}"
            },
            {
              "name": "status",
              "value": "Processed"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -32,
        112
      ],
      "id": "supabase-update",
      "name": "Supabase Update"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Classifier": {
      "main": [
        [
          {
            "node": "Supabase Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "tags": []
}