workflows/feedback-classification.json
{
  "name": "Feedback Classification Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "feedback-webhook",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        300
      ],
      "webhookId": "feedback-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "condition-urgent",
              "leftValue": "={{ $('Webhook').item.json.body.record.description }}",
              "rightValue": "urgent",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "condition-broken",
              "leftValue": "={{ $('Webhook').item.json.body.record.description }}",
              "rightValue": "broken",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "condition-error",
              "leftValue": "={{ $('Webhook').item.json.body.record.description }}",
              "rightValue": "error",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "condition-bug",
              "leftValue": "={{ $('Webhook').item.json.body.record.description }}",
              "rightValue": "bug",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "condition-crash",
              "leftValue": "={{ $('Webhook').item.json.body.record.description }}",
              "rightValue": "crash",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "if-priority-check",
      "name": "Check Priority",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/feedback?id=eq.{{ $('Webhook').item.json.body.record.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "category",
              "value": "Bug"
            },
            {
              "name": "priority",
              "value": "High"
            },
            {
              "name": "status",
              "value": "Processed"
            }
          ]
        },
        "options": {}
      },
      "id": "update-high",
      "name": "Set High Priority (Bug)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        200
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/feedback?id=eq.{{ $('Webhook').item.json.body.record.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "category",
              "value": "General"
            },
            {
              "name": "priority",
              "value": "Low"
            },
            {
              "name": "status",
              "value": "Processed"
            }
          ]
        },
        "options": {}
      },
      "id": "update-low",
      "name": "Set Low Priority (General)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        400
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Check Priority",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Priority": {
      "main": [
        [
          {
            "node": "Set High Priority (Bug)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Low Priority (General)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}