workflows/feedback-classification.json
{
  "name": "Feedback Classification Workflow",
  "nodes": [
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/feedback?id=eq.{{ $('Webhook').item.json.body.record.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "category",
              "value": "General"
            },
            {
              "name": "priority",
              "value": "Low"
            },
            {
              "name": "status",
              "value": "Processed"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -96,
        480
      ],
      "id": "e4cb067e-cf5c-45d0-b514-e361a11121bf",
      "name": "Fallback Update (AI Failed)",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/feedback?id=eq.{{ $('Webhook').item.json.body.record.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "Error"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        128,
        480
      ],
      "id": "c168c63a-7143-458b-ab12-044508844e74",
      "name": "Set Error Status",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "feedback-webhook",
        "options": {}
      },
      "id": "92b3bd46-562b-4bc0-841a-10bba6277c92",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -512,
        272
      ],
      "webhookId": "feedback-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a strict system. Analyze the feedback description. If it contains words like 'error', 'broken', 'crash', 'urgent', or 'fail', classify it as category 'Bug' and priority 'High'. Otherwise, classify as 'General' and 'Low'. Output ONLY a valid JSON object with keys: 'category' and 'priority'.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Feedback Description: {{ $('Webhook').item.json.body.record.description }}\"\n    }\n  ],\n  \"temperature\": 0.1,\n  \"stream\": false,\n  \"response_format\": { \"type\": \"json_object\" }\n}",
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -304,
        272
      ],
      "id": "cd3b8fc5-aefb-43a1-b9a2-a60d2d318523",
      "name": "AI Classifier",
      "credentials": {
        "httpBearerAuth": {
          "id": "VM5ozmnOMmWFfqb8",
          "name": "Bearer Auth account"
        }
      },
      "onError": "continueErrorOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/feedback?id=eq.{{ $('Webhook').item.json.body.record.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "category",
              "value": "={{ JSON.parse($json.choices[0].message.content).category }}"
            },
            {
              "name": "priority",
              "value": "={{ JSON.parse($json.choices[0].message.content).priority }}"
            },
            {
              "name": "status",
              "value": "Processed"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -96,
        272
      ],
      "id": "7e838cdb-ffe9-4def-a2bc-213acd7c17f9",
      "name": "Supabase Update",
      "onError": "continueErrorOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Classifier": {
      "main": [
        [
          {
            "node": "Supabase Update",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fallback Update (AI Failed)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Update": {
      "main": [
        [],
        [
          {
            "node": "Set Error Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "4a679a4e-17c8-46fa-9d87-2c89d40ee11b",
  "meta": {
    "instanceId": "46159804ea277a178fe35e9cc908f94f8542529d13d916dbd96938bb2cb8dbb2"
  },
  "id": "eJmYcs9NkC2R_b9OqW3zr",
  "tags": []
}